{% extends 'dashboard/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page_header_title %}
        Dashboard: {{ request.user.get_full_name }}
    {% endblock %}
</head>
<body>
{% block content %}

    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light">all organizations</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">نام سازمان</th>
                    <th scope="col">استان</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">ایمیل</th>
                    <th scope="col">تعداد کارمندان</th>
                    <th scope="col">دیدن جزییات</th>
                    <th scope="col">پاک کردن</th>
                </tr>
                </thead>
                {% for org in object_list %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ org.name }}</td>
                        <td>{{ org.city }}</td>
                        <td>{{ org.number }}</td>
                        <td>{{ org.email }}</td>
                        <td>{{ org.number_of_employees }}</td>
                        {#                        <td><a href="{% url 'organization:detail' org.pk %}">view detail</a></td>#}
                        {#                        <td><a href="{% url 'organization:delete' org.pk %}">delete</a></td>#}
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {#        {% include 'dashboard/pagination.html' %}#}
        {#        <a href="{% url 'phones:print-number' %}" class="btn btn-primary col-md-1">Print</a>#}
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>