{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% block page_header_title %}
    Edit: {{ query.create_info }}
{% endblock %}
{% block content %}
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light text-center">Dashboard: {{ request.user.get_full_name }}
                {% if messages %}
                    <div class="messages alert alert-primary" role="alert">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
                </div>
            </h5>

            <div class="col-2 center-">
                <form method="post">
                    {% csrf_token %}
                    {{ form.email }}
                    {{ form.username }}
                    <label for="title">Subject:</label>
                    {{ form.subject | add_class:'form-control' }}
                    <label for="title">Text: </label>
                    {{ form.message  | add_class:'form-control' }}
                    <label for="title">Issue:</label>
                    {{ form.category_related | add_class:'form-control' }}
                    <input type="submit" name="summit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}