{% extends 'dashboard/base.html' %}

{% block page_header_title %}
    Quote: {{ replay.query_related }}
{% endblock %}
{% block base_content %}
    <div class="col p-2">
        <div class="card">
            <h5 class=" card-header font-weight-light" id="label1">The query subject : {{ query.subject }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Category: {{ query.query_related }}</th>
                    <th class="text-right" scope="col">Date: {{ query.create_info }}</th>
                </tr>
                </thead>
                <tbody>
                {% if user.pk == query.user_related.pk %}

                {% else %}

                {% endif %}
                <td class="text-left alert-info">{{ query.create_info.time }}</td>
                <td class="text-right alert-info">{{ query.message }}</td>
                <tr>
                    {% for item in object.replay_set.all %}
                        {% if user.pk == item.operator_related.pk %}
                            <td class="text-left alert-info">{{ item.create_info.time }}</td>
                            <td class="text-right alert-info">{{ item.replay_message }}</td>
                        {% else %}
                            <td class="text-left alert-dark">{{ item.replay_message }}</td>
                            <td class="text-right alert-dark">{{ item.create_info.time }}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
