{% extends 'dashboard/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page_header_title %}
        Quote lis: dwq
    {% endblock %}
</head>
<body>
{% block base_content %}
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light">All organizations quote </h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Row</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Text</th>
                    <th scope="col">Status</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">History</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Print</th>
                </tr>
                </thead>
                {% for org in object_list %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ org.subject }}</td>
                        <td>{{ org.message }}</td>
                        <td>{{ org.status }}</td>
                        <td>{{ org.is_active }}</td>
                        <td>{{ org.create_info }}</td>
                        <td><a href="{% url 'ticket:detail-quote' org.pk %}">Chat</a></td>
                        <td><a href="{% url 'ticket:edit-quote' org.pk %}">Edit</a></td>
                        <td><a href="{% url 'ticket:edit-quote' org.pk %}">Export</a></td>
                    </tr>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% include 'ticket/pagination.html' %}
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>