{% extends 'dashboard/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page_header_title %}
        History
    {% endblock %}
</head>
<body>
{% block base_content %}
    {#    --------------------------------------Replay histories-------------------------------#}
        <div class="col p-4">
            <div class="card">
                <h5 class="card-header font-weight-light">All replay histories: {{ request.user.get_full_name }} </h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Row</th>
                        <th scope="col">replay_message</th>
                        <th scope="col">create_info</th>
                        <th scope="col">query_related</th>
                        <th scope="col">operator_related</th>

                    </tr>
                    </thead>

                    {% for org in ReplayHistories.all %}
                        <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ org.replay_message }}</td>
                            <td>{{ org.create_info }}</td>
                            <td>{{ org.query_related }}</td>
                            <td>{{ org.operator_related }}</td>
                            <td>{{ org.is_active }}</td>

                            </a></td>
                        </tr>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {% include 'ticket/pagination.html' %}
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>