{% extends 'dashboard/base.html' %}

    <meta charset="UTF-8">
    {% block page_header_title %}
        History
    {% endblock %}

{% block base_content %}
    {#    --------------------------------------Replay histories-------------------------------#}
    <body>
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light text-center">All replay histories: {{ request.user.get_full_name }}
                {% if messages %}
                    <div class="messages alert alert-primary" role="alert">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
                </div>
            </h5>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Row</th>
                    <th scope="col">replay_message</th>
                    <th scope="col">create_info</th>
                    <th scope="col">query_related</th>
                    <th scope="col">operator_related</th>
                </tr>
                </thead>

                {% for org in ReplayHistories.all %}
                    <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ org.replay_message }}</td>
                        <td>{{ org.create_info }}</td>
                        <td>{{ org.query_related }}</td>
                        <td>{{ org.operator_related }}</td>
                        <td>{{ org.is_active }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% include 'ticket/pagination.html' %}
        </div>
    </div>


   </body>
{% endblock %}

